<%= render 'layouts/admin_header' %>
<div class="col-lg-9">
	<h1>お問い合わせ一覧</h1>
	<table class="table">
		<tr>
			<th>title</th>
			<th>ステータス</th>
			<th>ボタン</th>
		</tr>
		<tr>
			<% @inquiries.each do |i| %>
				<td><%= i.title %></td>
				<td><%= i.status %></td>
				<td><%= link_to "詳細画面",  edit_admin_inquiry_path(i.id)%></td>
		</tr>
		<% end %>
	</table>
</div>