<div class="swiper-container">
	<div class="swiper-wrapper">
		<% @place.place_images.each do |image|%>
			<div class="swiper-slide"><%= attachment_image_tag image, :image, class: "default_image", size: "600x300" %></div>
		<% end %>
	</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-pagination"></div>
</div>