// 新規登録画面
.customer_new{
	background-image: image-url('lego.jpg');
	 background-size:  cover;
	 height: 800px;
	display: flex;
	flex-direction: column;
	// flex-direction: row;
	align-items: center;
	justify-content: center;
}

.customer_new h2{
	font-size: 30px;
}

.customer_new__form{
	text-align: center;
	background-color: white;
	width: 300px;
}

.customer_new__form_action{
	margin-top: 20px;
}

.customer_new__link{
	margin-bottom: 20px;
	margin-top: 20px;
}

// ログイン画面
.customer_sessions_new{
	background-image: image-url('lego.jpg');
	 background-size:  cover;
	 height: 800px;
	display: flex;
	flex-direction: column;
	// flex-direction: row;
	align-items: center;
	justify-content: center;
}

.customer_sessions_new h2{
	font-size: 30px;
}

.customer_sessions_new__form{
	text-align: center;
	background-color: white;
	width: 300px;
}

.customer_sessions_new__form_action{
	margin-top: 20px;
}

.customer_sessions_new__link{
	margin-bottom: 20px;
	margin-top: 20px;
}
