

// _customer_profile
.profile__image_name{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.profile__group{
	margin: 0 30px;
}

.profile__place{
	margin: 0 30px;
}

.profile__group_place{
	display: flex;
	align-items: center;
}

// customer_show
.show_customer_h1 h1{
	text-align: center;
	font-size: 30px;
}

.show_customer_top{
	display: flex;
	justify-content: space-evenly;
    align-items: center;
}

.show_customer_intoroduction{
	margin: 30px 0;
	display: block;
	text-align: center;

}

.show_customer_groups table{
	width: 80%;
	margin: 0 auto;
}

.show_customer_maps{
	margin: 30px 0;
	display: flex;
    justify-content: center;
}

.show_customer_places table{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 100px;
}

.show_customer__table_link{
	width: 20%;
}
.show_customer__place_name{
	width: 20%;
}

.show_customer__delete{
	width: 20%;
}

.show_customer__likes{
	width: 5%;
}

// customer_inex
.customer_index table{
	width: 80%;
	margin: 30px auto;
}

.customer_index__h1{
	text-align: center;
}
.customer_index__h1 h1{
	font-size: 30px;
}

.customer_show__link {
	width: 200px;
}

.customer_edit__h1 h1{
	text-align: center;
}

.customer_edit__form{
	display: flex;
    justify-content: center;
}

.customer_edit__form{
	margin: 20px auto;
}

.cutomer_edit__link{
	display: flex;
    justify-content: center;
}

.cutomer_edit__link_btn{
	margin: 20px;
}

.customer_edit{
	margin-bottom: 100px;
}

.cutomer_confirm{
	width: 80%;
	margin: 0 auto;
}

.customer_index__search{
	width: 90%;
	display: flex;
    justify-content: flex-end;
}

.customer_index__search form{
	display: flex;
}

.customer_index__search input[type="submit"]{
	margin-left: 15px;
}

.customer_edit__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show_customer_image img {
    width: 100px;
    height: 100px;
}

.show_customer_top {
    margin-top: 20px;
}
.show_customer_top{
	margin-top: 100px;
}

.customer_show_swiper_slide img {
    width: 100%;
    height: 150px;
    border-radius: 30px;
}

.customer_show_no_image img {
	width: 100%;
    height: 150px;
    border-radius: 30px;
}

.customer_show_image_cuont1 img {
	width: 100%;
    height: 150px;
    border-radius: 30px;
}