// Place all the styles related to the public/places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.place_new{
	margin-top: 40px;
	margin-bottom: 80px;
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place_new__form{
	margin: 20px auto;
	width: 70%;
}

.place_new__form_box{
	width: 70%;
}

.place_new__form_action{
	text-align: center;
}

.place_show__link{
	margin: 30px 0;
}

.place_show__link a{
	width: 90px;
}

.place_show__like{
	display: flex;
}

.place_show__like a{
	font-size: 30px;
}

.place_show__like p{
	font-size: 30px;
}

.place_edit_form{
	margin: 20px 0;
}



.place_index{
	width: 80%;
    margin: 0 auto;
}

.place_index__h1{
	margin-bottom: 20px;
}

.place_index__h1 h1{
	text-align: center;
}

.place_index_table{
	display: flex;
	flex-wrap: wrap;
}

.place_index_table_item table{
	font-size: 20px;
	width: 200px;
}


.place_new_add{
	margin-bottom: 40px;
	// width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.place_new_add h1{
	text-align: center;
}
.place_new_add a{
	width: 30%;
    display: flex;
    justify-content: center;
    margin: 30px auto 0 auto;

}

.place_new_add__form {
	width: 300px;
	margin: 0 auto;
}

.place_new_add__form_action input{
	text-align: center;
	margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.place_new_add__buget{
	display: flex;
}

.public_place_index_search{
	width: 100%;
    margin: 0;
	display: flex;
    justify-content: flex-end;
    margin: 10px 0 10px 0;
    
}
.public_place_index_search form{
	display: flex;
}
.public_place_index_search select{
	margin-right: 10px;
}

.public_place_index_search input[type="submit"]{
	margin-left: 10px;
}