<div class="col-lg-9">
	<h1>本当に退会しますか？</h1>
	<p>
		退会すると、会員登録情報や<br>
		これまでの購入履歴や閲覧できなくなります。<br>
		退会する場合は「退会する」をクリックしてください。
	</p>
	<div class="customer_confirm_link">
		<%= link_to "戻る", admin_customer_path, class: "btn btn-primary"%>
		<!-- リンク文字退会、これをクリックするcustomers_withdrawal_public_customer_pathに現在の使用者の情報をもたせて移動する、
			メソッドはputである-->
		<%= link_to "退会させる", withdrawal_admin_customer_path(@customer.id), method: :put ,class: "btn btn-danger active"%>
	</div>
</div>