<%= render 'layouts/admin_header' %>
<div class="col-lg-9">
	<h1>グループ一覧</h1>
	<table class="table">
		<tr>
			<th>グループ名</th>
			<th>公開ステータス</th>
			<th>キーワード</th>
			<th>詳細リンク</th>
		</tr>
		<tr>
			<% @groups.each do |group| %>
			<td><%= group.name %></td>
			<% if group.is_closed == false%>
			<td>公開</td>
			<% else %>
			<td>非公開</td>
			<% end %>
			<td><%= group.key_word%></td>
			<td><%= link_to "詳細画面", admin_group_path(group.id)%></td>
		</tr>
		<% end %>
	</table>
</div>