/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// @font-face{
// 	font-family: "font";
//    src: font-url('siteseeing.ttf') format('truetype');
// }
// h1{
//   font-family: 'font';
// }

.header{
	text-align: center;
}
.header__link_signed_in{
	list-style: none;
}
.header__link_signed_in :nth-of-type(2n){
	margin: 10px;
}
.header__link_unsign{
	list-style: none;
	text-align: center;
}
.header__link_unsign :nth-of-type(2n){
	margin: 10px;
}

.guest_header{
	text-align: center;
}
.guest_header__link_signed_in{
	list-style: none;
}
.guest_header__link_signed_in :nth-of-type(2n){
	margin: 10px;
}