/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
	margin:0;
	padding: 0;
	font-family: noto-sans-cjk-jp, sans-serif;
}

.shore_margin{
	margin-bottom: 100px;
}

ul{
	list-style: none;
}

// ヘッダー
.header{
	text-align: center;
	display: flex;
}

// ログインしている場合
.header__link_signed_in{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__link_signed_in :nth-of-type(2n){
	margin-top: 50px;
}
.header__link_signed_in :nth-child(odd){
	margin-bottom: 50px;
}
// ログインしていない場合
.header__link_unsign{
	list-style: none;
	text-align: center;
}
.header__link_unsign :nth-of-type(2n){
	margin: 10px;
}

// ゲストログインでしている場合
.guest_header{
	text-align: center;
}
.guest_header__link_signed_in{
	list-style: none;
}
.guest_header__link_signed_in :nth-of-type(2n){
	margin: 10px;
}

.guest_header__link_signed_in :nth-child(odd){
	margin: 10px;
}

// profile

.profile__name{
	margin-left: 30px;
}

// kaminari
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    border-radius: 4px;
}

.customer_progile__guest a{
	margin: 0 30px;
}

.header__link_signed_in{
	margin-left: auto;
}

.btn{
	background-color: #7db74a;
}
@media screen
    and (min-width: 767px){
	.phone_header{
		display: none;
	}

    }
@media screen
    and (max-width: 767px) {
    img {
	    vertical-align: middle;
	    width: 100px;
	    height: 100px;
	}
	.header__link_signed_in {
	    margin-left: auto;
	    display: none;
	}
	.phone_header_link{
		display: flex;
	}
	.header {
	    text-align: center;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.phone_header_link :nth-child(odd){
		margin-right: 10px;
	}
}

// スライドショー
.swiper-container {
    width: 600px;
    height: 300px;
}