// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_top__header{
	display: flex;
	justify-content: center;
	align-items: center;
}

.home_top__logo{
	margin-right: auto;
	margin-left: 30px;
}

.home_top__logo > img{
	width: 100px;
	height: 100px;
}

.home_top_link{
	margin-right: 20px;
}

.home_top_link a{
	font-weight: 700;
    color: #007c6b;
}


.home_top__link_item a{
	margin: 20px;
	font-size: 20px;
	width: 200px;
}

// ログイン後の画面
.home_top_select__link{
	margin-top: 10px;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
}

.home_top_select__link_item{
	// font-size: 40px;
	margin: 30px;
}

.home_top_select__link_item > a{
	font-size: 40px;
	width: 300px;
}

.customer_profile_group{
	display: flex;
	justify-content: center;
}

// 新規home_top
.home_top_demo{
	display: flex;
	width: 100%;
}

.home_left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
}
.home_left h1{
	font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #282828;
    letter-spacing: .05em;
}

.home_left p{
	font-size: 15px;
    line-height: 1.8;
    color: #282828;
    letter-spacing: .05em;
}

.home_left a{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 44px;
    border: 2px solid #007c6b;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.3em;
    line-height: 1.8;
    color: #282828;
    letter-spacing: .05em;
    font-weight: 700;
    color: #007c6b;
    transition: all .3s ease 0s;
    line-height: 0;
    margin-top: 20px;
}

.home_right{
	width: 100%;
}

.home_right img{
	width: 100%;
}

.home_middle{
	width: 100%;
	height: 600px;
	display: flex;
    justify-content: center;
    background-image: image-url('home/top_image.png');
	background-size: contain;
	background-color:rgba(255,255,255,0.4);
	background-blend-mode:lighten;
}


.home_middle_left{
	display: flex;
    align-items: center;
    justify-content: center;
}
.home_middle_left_sentence{
    background-color: white;
    padding: 60px;
}

.home_middle_left_sentence h1{
	// font-weight: revert;
	font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #282828;
    letter-spacing: .05em;
}

.home_middle_left_sentence p{
	font-size: 15px;
    line-height: 1.8;
    color: #282828;
    letter-spacing: .05em;
}

.home_middle_left_sentence a{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 44px;
    border: 2px solid #007c6b;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.3em;
    line-height: 1.8;
    color: #282828;
    letter-spacing: .05em;
    font-weight: 700;
    color: #007c6b;
    transition: all .3s ease 0s;
    line-height: 0;
    margin-top: 20px;
}

// スクロール
#page-top {
    font-size: 0;
    position: fixed;
    bottom: 16px;
    right: 16px;
    opacity: 0;
}
#page-top.fade-in {
    color: #000;
    font-size: 60px;
    opacity: 0.6;
    transition: opacity 1s;
}
.page_back{

}

// topの画像
.js-animation {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}
.js-animation.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.home_top_selsect_link{
	display: flex;
	justify-content: center;
}

@media screen
    and (max-width: 767px) {
	.home_top__logo > img {
		width: 100px;
		height: 100px;
	}
	.home_top__h1 > h1 {
		font-size: 18px;
		color: black;
		border-bottom: solid 3px blue;
		position: relative;
		line-height: 30px;
	}
	.home_top__header {
	    display: flex;
	    justify-content: center;
	    align-items: flex-end;
	}
	.home_top__link {
	    display: block;
	    margin-top: 10px;
	}
	.home_top__link_item a {
	    margin: 10px;
	    font-size: 15px;
	    width: 150px;
	}
	.home_top__link_box{
		text-align: center;
	}
	.home_top__header {
	    display: flex;
	    justify-content: center;
	    align-items: end;
	}
	.home_top__h1 {
		margin-top: 0px;
		margin-left: 0px;
	}

	.home_top_select__link {
	    margin-top: 10px;
	    margin-bottom: 100px;
	}
	.home_top_demo{
		display: block;
		height: 700px;
	}
	.home_right {
	    width: 70%;
	    height: 400px;
	    margin: 0 auto;
	}
	.home_right img {
	    margin-top: 30px;
	    height: 400px
	}
	.home_middle{
		display: block;
	}
	.home_middle_left_sentence {
	    background-color: white;
	    padding: 20px;
	    margin-top: 50px;
	}
	.home_middle_right {
    	text-align: center;
	}
	.home_top_selsect_link {
    	display: block;
    	text-align: center;
	}

}