// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_top__header{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}


.home_top__logo{
	display: flex;
	justify-content: center;
}

.home_top__logo > img{
	width: 300px;
	height: 300px;
}

.home_top__h1{
	margin-top: 15px;
	margin-left: 80px;
}

.home_top__h1 > h1 {
	font-size: 70px;
	color: black;
	border-bottom: solid 3px blue;
 	position: relative;
 	line-height: 120px;
}

.home_top__h1 > h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px green;
  bottom: -3px;
  width: 30%;
}

.home_top__link{
	display: flex;
	justify-content: center;
}

.home_top__link_item a{
	margin: 20px;
	font-size: 30px;
	width: 300px;
}

.home_top__link{
	margin-top: 40px;
}

// ログイン後の画面
.home_top_select__link{
	margin-top: 10px;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
}

.home_top_select{

}

.home_top_select__link_item{
	// font-size: 40px;
	margin: 30px;
}

.home_top_select__link_item > a{
	font-size: 40px;
	width: 300px;
}

.customer_profile_group{
	display: flex;
	justify-content: center;
}